body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    font-size: x-large;
}

input, select {
    font-size: x-large;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    display: none;
}